.bg-teal-400 {
    background-color: #41c5b7;
}
.bg-teal-300 {
    background-color: #6dd3c8;
}
.bg-blue-400 {
    background-color: #609af8;
}
.bg-blue-300 {
    background-color: #85b2f9;
}
.bg-red-400 {
    background-color: #ff6259;
}
.bg-purple-400 {
    background-color: #b975f9;
}
.bg-purple-300 {
    background-color: #c996fa;
}
.bg-pink-400 {
    background-color: #f06bac;
}

