:root {
    --font-size-s1: 28px;
    --font-size-s2: 24px;
    --font-size-s3: 22px;
    --font-size-s4: 20px;
    --font-size-s5: 18px;
    --font-size-s6: 16px;
    --font-size-s7: 14px;
    --font-size-s8: 12px;
    --font-size-s9: 10px;
}